@model List<BBT_Plataforma_Establecimientos_De_Salud.Models.DB.EstablecimientoDeSalud>;
@{
    ViewData["Title"] = "Buscar";
}
<div id="Detalle" class="container bg-light align-self-center">
    <h1 class="align-self-center text-primary fw-bold text-center">RESULTADOS</h1>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.Nombre</h5>
                        <p class="card-text">@item.Descripcion</p>
                        <a href="#" class="btn btn-info">Ver Detalles</a>
                    </div>
                </div>
            </div>
            <br />
        }
    </div>
</div>